.App {
  background-color: #282c34;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App-body {
  text-align: center;
  background-color: #282c34;
  height: 90vmin;
  width: 90vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space;
  font-size: calc(10px + 2vmin);
  color: white;
}

.square {
  width: 12vmin;
  height: 12vmin;
  border: 3px solid #282c34;
  border-radius: 2.5vmin;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.squareEmpty {
  background: #3f4552;
}

.squareEmpty:hover {
  background: #4e5666;
}

.squareEmpty:active {
  background: #30353f;
  border: 5px solid #282c34;
}

.squareFull {
  background: #1a29a8;
}

.squareFull:hover {
  background: #2432ac;
}

.squareFull:active {
  background: #0d198a;
  border: 5px solid #282c34;
}

.squareWon {
  background: #e1ee30;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.control {
  width: 15vmin;
  height: 10vmin;
  background: #3f4552;
  border: 3px solid #282c34;
  border-radius: 3vmin;
}

.control:hover {
  background: #4e5666;
}

.control:active {
  background: #30353f;
  border: 5px solid #282c34;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
